h2 {
    color: red;
}

#countlabel {
    display: block;
    text-align: center;
    color: #000;
    font-size: 100px;
}

#alabel1 {
    text-align: center;
}

.number button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* /* flex-direction: row;  */
    padding: 40px;
    margin: 40px;
    background-color: red;
    font-weight: bold;
    border-radius: 90%;
}

.label {
    font-weight: 20px;
    color: red;
}


/* DICE ROLLER PROGRAM */

#container {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    /* background-color: red; */
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(210, 100%, 60%);
}

button:active {
    background-color: hsl(210, 100%, 70%);
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}